GetSoRctL3/Resources/L3RestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OrderFulfillmentOSB/GetSoRctL3/L3RestService" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/L3dbReference" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="L3RestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/L3dbReference" schemaLocation="L3dbReference_sp.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getsorctl3/{status}/{customerId}/{soOrRct}/{agingCount}/{minAgingValue}/{maxAgingValue}">
         <method name="GET" soa:wsdlOperation="L3Operation">
            <request>
               <param name="status" style="template" soa:expression="$msg.request/db:PI_STATUS" default="" type="xsd:string"/>
               <param name="customerId" style="template" soa:expression="$msg.request/db:PI_CUSTOMER_ID" default="" type="xsd:string"/>
               <param name="soOrRct" style="template" soa:expression="$msg.request/db:PI_SO_OR_RCT" default="" type="xsd:string"/>
               <param name="agingCount" style="template" soa:expression="$msg.request/db:PI_AGING_COUNT" default="" type="xsd:string"/>
               <param name="minAgingValue" style="template" soa:expression="$msg.request/db:PI_MIN_AGING_VAL" default="" type="xsd:string"/>
               <param name="maxAgingValue" style="template" soa:expression="$msg.request/db:PI_MAX_AGING_VAL" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:OutputParameters" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/sp/L3dbReference"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
