GetInShipmentDetails/Resources/GetInShipmentDetRestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OrderFulfillmentOSB/GetInShipmentDetails/GetInShipmentDetRestService" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GetInShipmentDetRestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference" schemaLocation="dbReference_sp.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getdet/{id}/{identifier}">
         <method name="GET" soa:wsdlOperation="Operation1">
            <request>
               <param name="id" style="template" soa:expression="$msg.request/db:PIN_HEADER_ID" default="" type="xsd:string"/>
               <param name="identifier" style="template" soa:expression="$msg.request/db:PV_IDENTIFIER" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:OutputParameters" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
