GetSearchScreen/Resources/getSearchDetRestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OrderFulfillmentOSB/GetSearchScreen/getSearchDetRestService" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="getSearchDetRestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference" schemaLocation="dbReference_sp.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getdet/{item}/{order}/{receipt}">
         <method name="GET" soa:wsdlOperation="Operation1">
            <request>
               <param name="item" style="template" soa:expression="$msg.request/db:PV_ITEM_NUM" default="" type="xsd:string"/>
               <param name="order" style="template" soa:expression="$msg.request/db:PV_ORDER_NO" default="" type="xsd:string"/>
               <param name="receipt" style="template" soa:expression="$msg.request/db:PV_RECEIPT_NUM" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:OutputParameters" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbReference"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
